doctype html
html
    head
        //- Invisible comment in head section which will not appear in rendered html
        // Visible comment in head block which will appear in rendered html
        
    body
        //-
            Block invisible comment in body section
            which will not appear in rendered html
        //  "Comment can start from this line as well."
            Visible comment in head block 
            which will appear in rendered html.